*~
*.swp
*.o
*.a
*.lo
*.la
*.so
*.so.*
*.m4
*.diff
*.patch
.*
!.editorconfig
compile
core
cscope.*
tags
TAGS
Makefile
Makefile.in
/m4/
/aclocal.m4
/autom4te.cache/
/confdefs.h
/conftest.*
/config.*
/configure
/depcomp
/missing
/libtool
/ltmain.sh
/install-sh
/stamp-h1
/wicked-*
/wicked.pc
/wicked.spec
!wicked-rpmlintrc
/man/wicked*.[0-9]
/man/if*.[0-9]
/doc/schema/
/doc/schema.xml
/etc/common.xml
/etc/client.xml
/etc/server.xml
/etc/nanny.xml
/etc/scripts/redfish-update
/etc/systemv/wickedd
/etc/systemv/network
/etc/systemv/*.service
/etc/systemd/*.service
/schema/constants.xml
/autoip4/wickedd-auto4
/dhcp4/wickedd-dhcp4
/dhcp6/wickedd-dhcp6
/nanny/wickedd-nanny
/client/wicked
/client/suse/scripts/ifup
/server/wickedd
/util/mkconst
/util/schema2html
/testing/*-test
/html
