*~
*.swp
*.o
*.a
*.lo
*.la
*.so
*.so.*
*.m4
.*
core
tags
TAGS
Makefile
Makefile.in
/m4/
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/missing
/libtool
/ltmain.sh
/install-sh
/stamp-h1
/wicked-*
/wicked.pc
/wicked.spec
!wicked-rpmlintrc
/man/wicked*.[0-9]
/etc/common.xml
/etc/client.xml
/etc/server.xml
/etc/network-nanny.xml
/etc/init.d/wickedd
/etc/init.d/network
/etc/org.opensuse.Network.AUTO4.service
/etc/org.opensuse.Network.DHCP4.service
/etc/org.opensuse.Network.DHCP6.service
/schema/constants.xml
/autoip4/wicked-autoip4
/dhcp4/wicked-dhcp4
/dhcp6/wicked-dhcp6
/nanny/network-nanny
/client/wicked
/server/wickedd
/util/mkconst
/util/schema2html
/testing/*-test
/html
