*~
*.swp
*.o
*.a
*.lo
*.la
*.so
*.so.*
.*
test
xml-test
xpath-test
ibft-test
core
tags
bin
schema/constants.xml
Makefile.vars
aclocal.m4
autom4te.cache/
config.*
configure
wicked-*
wicked.pc
wicked.spec
etc/init.d/wicked
etc/init.d/network
