<config>
  <ipv4>
    <enabled/>
  </ipv4>
  <ipv6>
    <enabled/>
  </ipv6>

  <pidfile path="/var/run/wicked.pid" mode="0644"/>

  <dbus name="com.suse.Wicked" />
  <schema name="/etc/wicked/schema/wicked.xml"/>

  <extension interface="com.suse.Wicked.Ethernet">
   <builtin name="__properties" symbol="ni_objectmodel_ethernet_property_table" />

   <!-- default environment for all calls to this extension script -->
   <putenv name="WICKED_OBJECT_PATH" value="$object-path"/>
   <putenv name="WICKED_INTERFACE_NAME" value="$property:name"/>
   <putenv name="WICKED_INTERFACE_INDEX" value="$property:ifindex"/>
  </extension>

  <extension interface="com.suse.Wicked.VLAN">
   <builtin name="__properties" symbol="ni_objectmodel_vlan_property_table" />
   <builtin name="deleteLink" symbol="ni_objectmodel_vlan_delete" />
  </extension>

  <extension interface="com.suse.Wicked.VLAN.Factory">
   <builtin name="newLink" symbol="ni_objectmodel_vlan_newlink" />
  </extension>

  <extension interface="com.suse.Wicked.Bond">
   <action name="deleteLink" command="/usr/lib64/wicked/extensions/bonding delete" />
   <action name="addSlave" command="/usr/lib64/wicked/extensions/bonding addSlave" />
   <action name="removeSlave" command="/usr/lib64/wicked/extensions/bonding removeSlave" />

   <!-- default environment for all calls to this extension script -->
   <putenv name="WICKED_OBJECT_PATH" value="$object-path"/>
   <putenv name="WICKED_INTERFACE_NAME" value="$property:name"/>
   <putenv name="WICKED_INTERFACE_INDEX" value="$property:ifindex"/>
  </extension>

  <extension interface="com.suse.Wicked.Bond.Factory">
   <action name="newLink" command="/usr/lib64/wicked/extensions/bonding create" />
  </extension>

  <extension interface="com.suse.Wicked.Bridge">
   <builtin name="__properties" symbol="ni_objectmodel_bridge_property_table" />
   <action name="deleteLink" command="/usr/lib64/wicked/extensions/bridge delete" />
   <action name="addPort" command="/usr/lib64/wicked/extensions/bridge addPort" />
   <action name="removePort" command="/usr/lib64/wicked/extensions/bridge removePort" />

   <!-- default environment for all calls to this extension script -->
   <putenv name="WICKED_OBJECT_PATH" value="$object-path"/>
   <putenv name="WICKED_INTERFACE_NAME" value="$property:name"/>
   <putenv name="WICKED_INTERFACE_INDEX" value="$property:ifindex"/>
  </extension>

  <extension interface="com.suse.Wicked.Wireless">
   <!-- default environment for all calls to this extension script -->
   <putenv name="WICKED_OBJECT_PATH" value="$object-path"/>
   <putenv name="WICKED_INTERFACE_NAME" value="$property:name"/>
   <putenv name="WICKED_INTERFACE_INDEX" value="$property:ifindex"/>
  </extension>

  <extension interface="com.suse.Wicked.Bridge.Factory">
   <action name="newLink" command="/usr/lib64/wicked/extensions/bridge create" />
  </extension>

</config>
