<config>
  <ipv4>
    <enabled/>
  </ipv4>
  <ipv6>
    <enabled/>
  </ipv6>

  <!-- Define where network configuration is stored, and in what format.
       Currently supported are

         suse		sysconfig-based, usually /etc/sysconfig/network
         redhat		sysconfig-based, usually /etc/sysconfig/network
	 netcf-strict	strict netcf syntax, /etc/sysconfig/network/all.xml
	 netcf		enriched netcf syntax, /etc/sysconfig/network/all.xml

       By default, we try to autodetect what schema to use.
   -->
  <!--
   <backend schema="redhat" path="/etc/sysconfig/network"/>
   <backend schema="suse" path="/etc/sysconfig/network"/>
   -->

  <pidfile path="/var/run/wicked.pid" mode="0644"/>
  <socket path="/var/run/wicked.sock" mode="0600"/>
  <policy path="/etc/wicked/policy.xml"/>

  <linktype>
    <extension name="infiniband" type="infiniband">
      <action name="start" command="/etc/wicked/wicked-infiniband start %{@name}"/>
      <action name="stop" command="/etc/wicked/wicked-infiniband stop %{@name}"/>
      <environment putenv="IPOIB_MODE=%{/protocol/infiniband/@mode}"/>
      <environment putenv="IPOIB_UMCAST=%{/protocol/infiniband/@umcast}"/>
    </extension>
  </linktype>

  <addrconf>
  <!-- we no longer require dhcp4 to be provided through an extension
    <extension name="dhcp4" type="dhcp" family="ipv4">
      <pidfile path="/var/run/dhcpcd-%{@name}.pid"/>
      <action name="start" command="/etc/wicked/wicked-dhcp4 start %{@name}"/>
      <action name="stop" command="/etc/wicked/wicked-dhcp4 stop %{@name}"/>
      <environment putenv="DHCP_TIMEOUT=%{/protocol[@family = 'ipv4']/dhcp/lease/@timeout}"/>
      <environment putenv="DHCP_REQ_HOSTNAME=%{/protocol[@family = 'ipv4']/dhcp/request/@hostname}"/>
    </extension>
   -->

    <dhcp>
     <!--
      <vendor-class>somestring</vendor-class>
      <lease-time>7200</lease-time>
      <ignore-server ip="192.168.255.255" />
     -->
    </dhcp>
  </addrconf>

</config>
